<div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= "Your purchase has been completed" %>
      </div>
      <p>Check your emails, or track your product through your profile</p>
    <% else %>
      <div class="alert alert-danger">
        <%= "Your purchase failed try again later." %>
      </div>
    <% end %>
  <%= link_to "Back", products_path, class: "btn btn-primary" %>
</div>