<div class="row card-images">
        <% @products.each do |product| %>
          <div class="col-md-4 my-2">
            <div class="card h-100">
              <a href="#"><%= link_to image_tag(product.image_uris, class: "card-img-top"), product_path(product)%></a>
                <div class="card-body">
                  <h4 class="card-title">
                  <a href="#"><%= link_to product.name, product_path(product) %></a>
                  </h4>
                  <div class="row">
                    <h5 class="mx-4 mt-2">$24.99</h5>
                    <!-- Adds this product to the cart via a AJAX request, this is stored in redis -->
                    <!-- This also redirects to the carts_controller, add_to_cat action -->
                    <%= link_to "Add to Cart", new_cart_path(id: product), class: "btn btn-primary float-right", remote: true %>
                  </div>
                </div>
            </div>
          </div>
    <% end %>
</div>